<section style="padding-left:18px" class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor of Science in Computer Science</h1>
            <span>George Mason University</span>
            <span><address>Fairfax, VA</address><time>2016 to Present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Associate of Science in Computer Science</h1>
            <span>George Mason University</span>
            <span><address>Fairfax, VA</address><time>2012 to 2016</time></span>
        </header>
    </article>
</section>
