<section style="padding-left:18px" class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Camp Teacher/Assistant</h1>
            <span><address>Future Kings STEM Summer Camp Woodbridge,VA</address><time>July 2016</time></span>
        </header>
        <ul> 
            <li type="square">Taught middle and high school campers about job opportunities in the areas of 3D printing and game design through hands on instruction</li>
            <li type="square">Maintained a curriculum that followed teaching campers about necessary hardware and software, how 3D printing and game design are used in the real world, and the pathway to obtaining employment in these areas via higher education</li>
            <li type="square">Encouraged team building through fun exercises to simulate coding and other tasks in a workplace environment</li> 
</ul>
    </article>
    <article>
        <header>
            <h1>Intern</h1>
            <span><address>TerrorView Mobile App Alexandria, VA</address><time>January 2016 to July 2016</time></span>
        </header>
        <ul>
            <li type="square">Researched breaking news developments to identify trends in cybersecurity and present subscribers with the information important to them, thereby helping to increase viewership and user retention</li>
            <li type="square">Developed an application for generating reports, reducing report size by 90%</li>
            <li type="square">Cultivated news from multiple sources to identify any potential issues in data flow</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>IT Teaching Assistant</h1>
            <span><address>Northern Virginia Community College Woodbridge,VA</address><time>August 2015 to December 2015</time></span>
        </header>
        <ul>
            <li type="square">Helped students develop an action plan based on their goals for the semester</li>
            <li type="square">Helped students with concepts in theory of programming, including top-down design, pseudo-code, and object-oriented programming (Java)</li>
            <li type="square">Managed a weekly IT tutoring lab where tutors and students would work on programming, website design, and networking</li>
        </ul>
    </article>
</section>
