<section style="padding-left:18px" class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Volunteer & Mentor</h1>
            <span><address>Future Kings</address><time>2015 to Present</time></span>
        </header>
        <ul>
            <li type ="square">Taught business and programming concepts to middle and high school students</li> 
            <li type ="square">Mentored students on higher education opportunities</li>
            <li type ="square">Worked with executive director to set strategic policy for the Open Restaurant App, a revenue generating platform for restaurant businesses and Future Kings’ members</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Hackathon Founding Member and Vice President</h1>
            <span><address>inNOVAtion Hackathon, Woodbridge, VA</address><time>2015 to 2016</time></span>
        </header>
        <ul>
            <li type="square">Presided over weekly club meetings and managed group interactions utilizing effective team management</li>  
            <li type="square">Developed effective business strategies for procuring endorsements from corporations and organizations</li>  
            <li type="square">Utilized efficient delegation of team projects to meet critical deadlines</li> 
            <li type="square">Created and carries out correspondence with corporate, educational, and national organizations</li>
            <li type="square">Collaborated with teammates in the design of event website</li> 
            <li type="square">Designed and implemented media solutions including the inNOVAtion Hackathon Corporate Sponsorship Brochure</li>
        </ul>
    </article>
</section>
